/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* HEADER */

.header {
  background-color: #0168B4;
  height: 87px;
}

.navbar-brand {
  margin: auto;
  width: 70%;
}

.navbar-brand img {
  height: 50px;
  width: 170px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center;
}

.nav-link span {
  display: block;
  text-align: center;
}

.header-nav-item {
  margin: auto 10px;
}

.navbar-collapse {
  margin-left: 142px;
}

/* MAIN */

.menu {
  margin: 30px auto;
}

ul.nav.nav-pills {
  display: block;
}

.menu .btn {
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
  padding: 0;
}

.menu .nav-link {
  color:  #707070;
}

.menu-nav-item {
  margin-right: 24px;
}

.faq-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #303030;
} 

.nav-link.faq-active {
  background-color: #0168B4;
  color: #fff; 
  font-weight: bolder;
  border-radius: 14px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 78px;
} 

.faq-input {
  border-radius: 14px;
  font-style: italic;
}

.faq-btn-busca {
  background-color: #0168B4;
  color: #fff;
  font-weight: bolder;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 2px;
  width: 110px;
}

.faq-btn-busca i {
  padding: 2px;
}

.faq-btn-busca span {
  margin-left: 2px;
  text-transform: uppercase;
  font-size: smaller;
}

.perguntas-header {
  background-color: #0168B4;
  border-radius: 14px;
  color: #fff;
  height: 35px;
  line-height: 15px;
  margin: 15px auto;
  padding: 5px;
  align-items: center;
}

.perguntas-header a {
  color: #fff;
  text-decoration: none;
}

.perguntas-header span:first-child {
  margin-left: 10px;
}

.btn-nova-pergunta {
  margin-left: 10px;

}

.borda-lateral {
  border-left: 1px solid #fff;
}

.listar-faq-linha {
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
  padding: 0;
  align-items: center;
}

.listar-faq-item {
  text-align: center;
}

.listar-faq-item .fa-edit {
  color: #0168B4;
}

.listar-faq-item .fa-trash {
  color: #DC3545;
}
