/* Resets */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.navbar {
  background-color: #0168B4;
  height: 87px;
}

.navbar-brand {
  margin: auto;
  width: 70%;
}

.navbar-brand img {
  margin: auto 10%;
  height: 50px;
  width: 170px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center;
}

.nav-link span {
  display: block;
  text-align: center;
}

.nav-item {
  margin: auto 10px;
}
